<div class="order-info__item">
  <a href="#" class="order-info__img-link"><%= image_tag item.variant.pictures.find_by(order:0).image.url(:micro)%></a>
  <div class="order-info__item-wrap">
    <div class="order__number">Order #<%= order.id %>-1 Custom fit</div>
    <a href="#" class="order__name-link order__name-link_fs_14">Rhythmic Gymnastics Leotard №<%= item.variant.product.name %></a>
  </div>
</div>
