
<div class="processing-order__my">
  <div class="my-wrap">
    <ul class="my-list">
      <li class="my-list__item my-list__item_w_128">My orders:</li>
      <li class="my-list__item my-list__item_w_96"><a class="my-list__link active" href="#">processing</a></li>
      <li class="my-list__item my-list__item_w_95"><a class="my-list__link" href="#">completed</a></li>
      <li class="my-list__item my-list__item_w_176"><a class="my-list__link" href="#">cancelled</a></li>
      <li class="my-list__item"><a class="my-list__link" href="#">settings</a></li>
    </ul>
  </div>
</div>

<div class="processing-order__wrap">
  <div class="order-info" id="">
    <div class="box box_bt" style="width: 557px">
      <%@orders.each do |order|%>
      <%= render partial: 'order_processing', locals: {order: order} %>
      <%end if @orders%>
    </div>
  </div>
</div>

