
<div class="item-main">
<div id="container" class="">
<%@variants.each_with_index  do |variant, block|%>
    <%=render partial: 'products/item', locals: {variant:variant, block: block, cur: @currency}%>
<%end%>

</div>


</div>




<div class="btn-wrap">
  <div class="more">
    <div class="more__top">
      <a href="#" class="btn btn_green btn_box-shadow btn_font more-btn"><span class="btn_in-shadow">More Leotards</span></a>
    </div>
    <div class="more__info">Show 18 leotards from previous collection</div>
    <div class="more__img-wrap">
      <img src=<%=image_url "img/texture/arrow-green-down.png"%> alt=""/>
    </div>
  </div>
</div>

<div id="putinHuilo" style="display: none">

  <div class="item" style="">

    <div class="item__img-wrap">
      <a class="item__img-link item__img-link_bs" href="#">
        <img data-src = "/assets/img/content/n24-IMG_8897-3.jpg" alt="Rhythmic Gymnastics Leotard #29"/>
        <div class="item__name-link-wrap">
          <p class="item__name-link">Rhythmic Gymnastics Leotard #29</p>
        </div>
      </a>
    </div>

    <div class="item__bottom">
      <div class="item__price item__price_strike"><i class="fa fa-eur"></i>109.-</div>
      <div class="item__price item__price_red"><i class="fa fa-eur"> </i>109.-</div>
      <a class="item__rotator" href="#"></a>
      <a class="item__like-off" href="#"></a>
    </div>

  </div>

  <div class="item" style="">

    <div class="item__img-wrap">
      <a class="item__img-link item__img-link_bs" href="#">
        <img data-src = "/assets/img/content/item-leotard.jpg" alt="Rhythmic Gymnastics Leotard #29"/>
        <div class="item__name-link-wrap">
          <p class="item__name-link">Rhythmic Gymnastics Leotard #29</p>
        </div>
      </a>
    </div>

    <div class="item__bottom">
      <div class="item__price item__price_strike"><i class="fa fa-eur"></i>109.-</div>
      <div class="item__price item__price_red"><i class="fa fa-eur"> </i>109.-</div>
      <a class="item__rotator" href="#"></a>
      <a class="item__like-off" href="#"></a>
    </div>

  </div>

</div>

</div>