<p id="notice"><%= notice %></p>
<%@product.variants[0].pictures.each do |pic| %>
<%=image_tag pic.image%>
<%end%>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
