<div class="head__cart">
  <%if order.cart_length > 0%>
      <span class="head__cart-circle active"><%= order.cart_length %></span>
  <%end%>
  <a href="<%=cart_url %>" class="head__cart-link">Cart</a>
</div>
